In [1]:
import pandas as pd #pandas library for dataframe manipulation
import numpy as np #algebra
import matplotlib.pyplot as plt #plotting graphs
%matplotlib inline
import seaborn as sns

aisles = pd.read_csv('C:\\Users\\kj.park\\Desktop\Class\\Instacart\\aisles.csv')
order_products_prior = pd.read_csv("C:\\Users\\kj.park\\Desktop\\Class\\Instacart\\order_products__prior.csv")
orders = pd.read_csv("C:\\Users\\kj.park\\Desktop\\Class\\Instacart\\orders.csv")
products = pd.read_csv("C:\\Users\\kj.park\Desktop\\Class\\Instacart\\products.csv")
order_products_train = pd.read_csv("C:\\Users\\kj.park\\Desktop\\Class\\Instacart\\order_products__train.csv")
departments = pd.read_csv("C:\\Users\\kj.park\\Desktop\\Class\\Instacart\\departments.csv")

In [2]:
train_set = orders[orders['eval_set']=='train']
train_set = pd.merge(train_set, order_products_train, on='order_id', how='inner')
train_set = pd.merge(train_set, products, on = 'product_id', how = 'inner')
train_set = pd.merge(train_set, departments, on = 'department_id', how = 'inner')
train_set = pd.merge(train_set, aisles, on = 'aisle_id', how = 'inner')
print(train_set.shape)
train_set.head()

(1384617, 15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,department,aisle
0,1187899,1,train,11,4,8,14.0,196,1,1,Soda,77,7,beverages,soft drinks
1,2757217,67,train,25,0,11,5.0,196,1,1,Soda,77,7,beverages,soft drinks
2,632715,676,train,12,0,13,26.0,196,2,1,Soda,77,7,beverages,soft drinks
3,1167274,760,train,5,4,10,8.0,196,2,1,Soda,77,7,beverages,soft drinks
4,3347074,804,train,16,3,21,5.0,196,4,0,Soda,77,7,beverages,soft drinks

In [3]:
prior_set = orders[orders['eval_set']=='prior']
prior_set = prior_set.merge(order_products_prior, on='order_id')
prior_set = pd.merge(prior_set, products, on = 'product_id', how = 'inner')
prior_set = pd.merge(prior_set, departments, on = 'department_id', how = 'inner')
prior_set = pd.merge(prior_set, aisles, on = 'aisle_id', how = 'inner')
print(prior_set.shape)
prior_set.head()

(32434489, 15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,department,aisle
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,beverages,soft drinks
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,beverages,soft drinks
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,beverages,soft drinks
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,beverages,soft drinks
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,beverages,soft drinks

In [4]:
test_set = orders[orders['eval_set']=='test']
test_set.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [ ]:
non_text = [',','-',' ','?','.','&','%','#', '(',')','[',']','*','^','$','@','=','+','!','®']
for symbols in non_text:
    train_set['product_name'] = train_set['product_name'].str.replace(symbols, '')
    prior_set['product_name'] = prior_set['product_name'].str.replace(symbols, '')
train_set.info()
prior_set.info()

In [5]:
#Train Set Preparation
gnb_train = train_set.loc[:,('user_id','order_id', 'product_id','order_number','order_dow','order_hour_of_day','days_since_prior_order','add_to_cart_order','reordered','aisle_id','department_id')]
gnb_train['days_since_prior_order'] = gnb_train['days_since_prior_order'].astype(int)
gnb_train = gnb_train.sample(frac=.1,)
gnbtrain_X = gnb_train.loc[:,('user_id','order_id','order_number','order_dow','order_hour_of_day','days_since_prior_order','add_to_cart_order','reordered','aisle_id','department_id')]
gnbtrain_y = gnb_train.loc[:,('product_id')]
print(gnbtrain_X.shape)
print(gnbtrain_y.shape)

#Test Set Preparation
gnb_test = test_set.loc[:,('user_id','order_id', 'product_id','order_number','order_dow','order_hour_of_day','days_since_prior_order','add_to_cart_order','reordered','aisle_id','department_id')]
gnb_test['days_since_prior_order'] = gnb_test['days_since_prior_order'].astype(int)
gnb_test = gnb_test.sample(frac=.1)
gnbtest_X = gnb_test.loc[:,('user_id','order_id','order_number','order_dow','order_hour_of_day','days_since_prior_order','add_to_cart_order','reordered','aisle_id','department_id')]
gnbtest_y = gnb_test.loc[:,('product_id')]
print(gnbtest_X.shape)
print(gnbtest_y.shape)

(138462, 10)
(138462,)
(7500, 10)
(7500,)

In [6]:
gnbtest_X.head()
gnbtrain_X.shape

(138462, 10)

In [7]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [8]:
LogReg = LogisticRegression(solver='lbfgs', multi_class = 'multinomial')

In [ ]:
LogReg.fit(gnbtrain_X, gnbtrain_y)
#Too much. Memory Error

In [9]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [10]:
gnb.fit(gnbtrain_X, gnbtrain_y)
accuracy = gnb.score(gnbtrain_X, gnbtrain_y)
print('Accuracy of %r Classifier = %2f' % (gnb, accuracy) + ' %')
print('\n')

MemoryError: